#contact_modal {
    display: none;
}

.photographer-page-header{
    display: flex;
    flex-direction: column;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.photograph-header h1{
    color: #D3573C;
    font-size: 3em;
    font-weight: 400;
}

.photograph-header .location{
    color: #901C1C;
    margin: .5em 0 1em 0;
    font-size: 1.5em;
}

.photograph-header .description{
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.profile-pic{
    width: 60%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

label{
    margin-left: 100px;
}

select{
    font-family: "DM Sans", sans-serif;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 8px;
    margin: 20px;
    background-color: #901C1C;
    color: white;
}

#media{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 100px;
    gap: 3em;
}

#media img, #media video{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 100%;
    border-radius: 5px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

article .text{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
}

article .like{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.lightbox-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(4px);
}

.lightbox i{
    color: #901C1C;
    top: 0;
    right: 0;
    width: 20px;
}

.lightbox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    height: 80vh;
    aspect-ratio: 3/2;
}

.infos{
    position: fixed;
    bottom: 0;
    right: 3em;
    width: 13em;
    height: 3em;
    background-color: #DB8876;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.infos > *{font-size: 20px;}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}